* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 0;
}

/* NAVIGATION */
nav {
  height: 70px;
  /* background-color: blue; */
  padding: 20px 36px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.nav__logo {
  max-width: 100px;
}

.header__airbnbHeroImage {
  display: block;
  margin: auto;
  width: 70vw;
  margin-top: 80px;
}

/* HERO */
h1,
h2 {
  margin-left: 36px;
}

.header__text--1 {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.06em;
}

.header__text--2 {
  font-weight: 300;
  font-size: 20px;
  max-width: 380px;
}

/* CARD */

/* utilities-start */
.u-grey {
  color: #918e9b;
}
.u-bold {
  font-weight: bold;
}
/* utilities-end*/
.card__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  margin-left: 20px;
}

.card {
  position: relative;
  width: 175px;
  font-size: 12px;
  align-self: stretch;
  flex: 0 0 auto;
  /* display: flex; */
  flex-direction: column;
}

.card__img {
  /* width: 100%; */
  border-radius: 9px;
  margin-bottom: 2px;

  /* border-radius: 9px; */
}

.card__stats {
  display: flex;
  align-items: center;
}

.card__star {
  height: 14px;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: 300;
}
